<div class="row">
  <div class="col-10 col-md-8 mx-auto mt-5">
    <h2 class="text-primary text-center">Alquiler Vehiculos</h2>
    <h5 class="text-info text-center">
      $10 por hora (incluyendo menos de la hora)
    </h5>
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">
          <i class="bi bi-ev-front"></i>Modelo:
          <span class="text-primary">{{ vehiculoAlquilar?.modelo }}</span>
        </h5>
        <h5 class="card-title">
          <i class="bi bi-ev-front-fill"></i>Marca:
          <span class="text-info">{{ vehiculoAlquilar?.marca }}</span>
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-7 mx-auto">
            <img
              src="{{ vehiculoAlquilar?.url }}"
              alt=""
              class="img-fluid w-75 mx-auto"
            />
          </div>
          <div class="col-12 col-md-5 mx-auto">
            <form [formGroup]="vehiculoAlquilerForm">
              <div class="form-floating mb-3">
                <input
                  type="datetime-local"
                  name=""
                  id="date"
                  class="form-control"
                  formControlName="fecha_alquiler"
                  min="{{ fecha }}"
                  [ngClass]="[vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['required'] ||
                  vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['min']
                  ? 'is-invalid' : 'is-valid' ]"
                  (change)="onInputHours()"
                />
                <label for="date" class="form-label"
                  ><i class="bi bi-0-square"></i> Fecha Alquiler</label
                >
                <div *ngIf="!vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['required']&&!vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['min']" class="valid-feedback">
                  Looks good!
                </div>
                <div
                  *ngIf="vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['required']"
                  class="form-text text-danger invalid-feedback"
                >
                  Debe llenar el campo
                </div>
                <div
                  *ngIf="vehiculoAlquilerForm.get('fecha_alquiler')?.errors?.['min']"
                  class="form-text text-danger invalid-feedback"
                >
                  debe ubicar fecha correcta
                </div>
              </div>
              <div class=" mb-3">
                <div
                  class=" form-floating mb-3"
                  *ngIf="vehiculoAlquilerForm.get('fecha_alquiler')?.valid"
                >
                  <input
                    type="datetime-local"
                    id="tiempo_alquiler"
                    min="{{
                      vehiculoAlquilerForm.get('fecha_alquiler')?.value
                    }}"
                    class="form-control"
                    formControlName="tiempo_alquiler"
                    (change)="onInputHours()"
                    [ngClass]="[vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['required'] ||
                  vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['min']
                  ? 'is-invalid' : 'is-valid' ]"
                  />
                  <label for="entrega" class="form-label" id="tiempo_alquiler"
                  ><i class="bi bi-1-square"></i> Tiempo Alquiler</label
                >
                <div *ngIf="!vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['required']&&!vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['min']" class="valid-feedback">
                  Looks good!
                </div>
                  <div
                    *ngIf="vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['required']"
                    class="form-text text-danger invalid-feedback"
                  >
                    Debe llenar el campo
                  </div>
                  <div
                    *ngIf="vehiculoAlquilerForm.get('tiempo_alquiler')?.errors?.['min']"
                    class="form-text text-danger invalid-feedback"
                  >
                    debe ubicar fecha correcta
                  </div>
                </div>
              </div>
            </form>

            <h5>Valor a pagar: <span class="text-success">{{ valor | currency }}</span></h5>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer" *ngIf="vehiculoAlquilerForm.valid">
        <button
          type="button"
          (click)="alquilerVehiculo(vehiculoAlquilar?.id)"
          class="btn btn-outline-info"
          [disabled]="!vehiculoAlquilerForm.valid"
        >
          Confirmar Alquiler
        </button>
      </div>
    </div>
  </div>
</div>
