<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><i class="bi bi-cone-striped"></i>Consecionaria Online de Vehículos</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <i class="bi bi-car-front-fill"></i>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Vehiculos</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""
            routerLinkActive="router-link-active"
            routerLinkActive="active"
              ><i class="bi bi-house-fill"></i>Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink='/auth/login'

              routerLinkActive="active"
            >
              <i class="bi bi-person-fill"></i>Login
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink='/auth/register'

              routerLinkActive="active"
            >
              <i class="bi bi-person-dash-fill"></i>Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
