<div class="mb-3">
  <div class="form-floating w-50 mx-auto my-5">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="on"
      id="floatingInput"
      placeholder="Buscar por modelo o marca"
    />
    <label for="floatingInput"
      ><i class="bi bi-truck-front-fill"></i> Modelo o marca</label
    >
  </div>

  <div class="row">
    <div
      class="col-10 col-md-3 mx-auto mb-3"
      *ngFor="let auto of autos | filter : searchText"
    >
      <div class="card shadow  " >
        <div class="card-header">
          <h5 class="card-title">
            <i class="bi bi-ev-front"></i>Modelo:
            <span class="text-primary">{{ auto.modelo }}</span>
          </h5>
        </div>
        <div class="card-body" >
          <img src="{{ auto.url }}" alt="" class="img-fluid w-100" style="height: 12em;object-fit: cover;"   />
          <p class="card-text mt-2">
            <i class="bi bi-ev-front-fill"></i>Marca:
            <span class="text-info">{{ auto.marca }}</span>
          </p>
        </div>
        <div
          *ngIf="user?.user?.rol == 'admin'"
          class="card-footer d-flex justify-content-evenly align-items-center"
        >
          <button
            class="btn btn-sm btn-outline-info"
            [routerLink]="['/dashboard/vehiculos/edit', auto.id]"
          >
          <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="onDelete(auto.id)">
            <i class="bi bi-archive-fill"></i> Eliminar
          </button>
        </div>
        <div *ngIf="user?.user?.rol == 'cliente'" class="card-footer">
          <button
            class="btn btn-sm btn-outline-info d-block w-50 mx-auto"
            [routerLink]="['/dashboard/vehiculos/alquilar/', auto.id]"
          >
          <i class="bi bi-credit-card"></i> Alquilar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
