<div class="row">
  <div class="col-12 col-md-10 mx-auto mt-5">
    <div class="table-responsive">
      <table class="table caption-top border table-hover">
        <caption><i class="bi bi-car-front"></i> Mis vehiculos</caption>
        <thead class="">
          <tr>
            <th scope="col" class="text-center"><i class="bi bi-calendar"></i> Fecha alquiler</th>
            <th scope="col" class="text-center"><i class="bi bi-alarm"></i> Tiempo alquiler</th>
            <th scope="col" class="text-center"><i class="bi bi-alarm"></i> Tiempo restante</th>
            <th scope="col" class="text-center"><i class="bi bi-car-front-fill"></i> vehiculo</th>
            <th scope="col" class="text-center"><i class="bi bi-ev-front"></i> Modelo vehiculo</th>
            <th scope="col" class="text-center"><i class="bi bi-card-image"></i> Imagen</th>
            <th scope="col" class="text-center"><i class="bi bi-piggy-bank-fill"></i> Precio a pagar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of alquilados" class="p-2">
            <th scope="row" class="text-center">{{ a.fecha_alquiler }}</th>
            <td class="text-center">{{ a.tiempo_alquiler }}</td>
            <td class="text-center"> En {{ convertTime(a.tiempo_alquiler) }} </td>
            <td class="text-center">{{ a.marca_vehiculo | titlecase }}</td>
            <td class="text-center">{{ a.modelo_vehiculo | titlecase }}</td>
            <td class="text-center">
              <div class="w-50 mx-auto">
                <img [src]="a.url_vehiculo" alt="" class="img-fluid w-100" style="object-fit: cover;height:5em;">
              </div>
            </td>
            <td class="text-center"><span class="text-success text-center">{{ a.precio_pagar | currency }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

