<nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100">
  <div class="container">
    <div  class="w-75 mx-auto d-flex justify-content-between align-items-center">
      <a class="navbar-brand" routerLink="vehiculos" routerLinkActive="active"
        ><i class="bi bi-ev-front-fill"></i>
        Vehiculos</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-truck-front-fill"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center justify-content-evenly">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="bi bi-ev-front-fill"></i>Vehiculos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                routerLink="vehiculos"
                class="dropdown-item"
                routerLinkActive="active"
                ><i class="bi bi-eye"></i>Ver Vehiculos</a
              >
            </li>
            <li *ngIf="user?.user?.rol == 'cliente'">
              <a
                class="dropdown-item"
                routerLink="mis-vehiculos"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                ><i class="bi bi-eye"></i>Mis Vehiculos</a
              >
            </li>
            <li>
              <a
                *ngIf="user?.user?.rol == 'admin'"
                routerLink="/dashboard/vehiculos/create"
                class="dropdown-item"
                ><i class="bi bi-car-front-fill"></i
                ><i class="bi bi-plus"></i>Crear vehiculos</a
              >
            </li>
            <li *ngIf="user?.user?.rol == 'admin'">
              <a
                routerLink="vehiculos-alquilados"
                class="dropdown-item"
                routerLinkActive="active"
                ><i class="bi bi-eye"></i>Vehiculos alquilados</a
              >
            </li>
            <li *ngIf="user?.user?.rol == 'admin'">
              <a
                routerLink="datos-alquilados"
                class="dropdown-item"
                routerLinkActive="active"
                ><i class="bi bi-eye"></i>Datos de alquiler</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="bi bi-person-fill"></i>
            Profile
          </a>
          <ul class="dropdown-menu">
            <li>
              <a *ngIf="user?.user" class="dropdown-item">
                <i class="bi bi-person-fill"></i>
                {{ user.user.nombre_usuario | titlecase }}-<i
                  class="bi bi-check-circle-fill"
                  style="color: green"
                ></i
                >{{ user.user.rol | titlecase }}
              </a>
            </li>
            <li>
              <a  class="dropdown-item" routerLink="view-profile"
                ><i class="bi bi-person-gear"></i> Profile</a
              >
            </li>
            <li class="">
              <button
                type="button"
                class="dropdown-item text-danger"
                (click)="logout()"
              >
                <i class="bi bi-x-circle"></i> Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
