<!-- <app-search-cliente></app-search-cliente> -->
<div class="mb-3">
  <div class="form-floating w-50 mx-auto my-5">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="on"
      id="floatingInput"
      placeholder="Buscar por modelo o marca"
    />
    <label for="floatingInput"><i class="bi bi-person-fill"></i> Cedula o nombre</label>
  </div>

</div>
<div class="table-responsive">
  <table class="table caption-top border table-hover ">
    <caption><i class="bi bi-car-front"></i> Vehiculos alquilados</caption>
    <thead>
      <tr>
        <th scope="col"  class="text-center"><i class="bi bi-person"></i> Nombre propietario</th>
        <th scope="col"  class="text-center"><i class="bi bi-wallet"></i> Cedula propietario</th>
        <th scope="col"  class="text-center"><i class="bi bi-envelope"></i> Email propietario</th>
        <th scope="col"  class="text-center"><i class="bi bi-calendar"></i>Fecha alquiler</th>
        <th scope="col"  class="text-center"><i class="bi bi-calendar-event"></i> Tiempo alquiler</th>
        <th scope="col"  class="text-center"><i class="bi bi-calendar-event"></i> Tiempo restante</th>
        <th scope="col"  class="text-center"><i class="bi bi-car-front-fill"></i> Marca Auto</th>
        <th scope="col"  class="text-center"><i class="bi bi-ev-front-fill"></i> Modelo Auto</th>
        <th scope="col"  class="text-center"><i class="bi bi-piggy-bank-fill"></i> Precio a pagar</th>
        <th scope="col" class="text-center"><i class="bi bi-card-image"></i> Imagen</th>
        <th scope="col" class="text-center"><i class="bi bi-activity"></i> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of alquilados|filter:searchText" >
        <th scope="row" class="text-center">{{ a.nombre_usuario |titlecase }}</th>
        <th class="text-center">{{ a.cedula_usuario }}</th>
        <th class="text-center">{{ a.email_usuario }}</th>
        <td class="text-center">{{ a.fecha_alquiler }}</td>
       <td class="text-center">{{ a.tiempo_alquiler }}</td>
         <td class="text-center"> En {{ convertTime(a.tiempo_alquiler,a.id) }} </td>
        <td class="text-center">{{ a.marca_vehiculo | titlecase }}</td>
        <td class="text-center">{{ a.modelo_vehiculo | titlecase }}</td>
        <td class="text-center">{{ a.precio_pagar | currency }}</td>
        <td  class="text-center">
          <div class="w-100 mx-auto">
            <img [src]="a.url_vehiculo" alt="" class="img-fluid w-100" style="object-fit: cover;height:5em;">
          </div>
        </td>
        <td class="text-center">
          <button type="button" (click)="eliminarAlquilado(a.id)" class="btn btn-sm btn-outline-danger">Eliminar</button>
        </td>
        <!--  -->
      </tr>
    </tbody>
  </table>
</div>

