<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow mt-5">
      <div class="card-header">
        <h5 class="text-primary"> <i class="bi bi-pen-fill text-primary"></i> Vehículo</h5>
      </div>
      <div class="card-body">
        <form  [formGroup]="vehiculoForm" >
          <div class="form-floating mb-3 ">
            <input
              type="text"
              class="form-control"
              [ngClass]="[vehiculoForm.get('modelo')?.errors?.['required'] ||
              vehiculoForm.get('modelo')?.errors?.['minlength']
              ? 'is-invalid' : 'is-valid' ]"
              id="floatingInput"
              placeholder="Modelo"
              formControlName="modelo"
            />
            <label for="floatingInput" class="form-label">Modelo</label>
            <div *ngIf="!vehiculoForm.get('modelo')?.errors?.['required']&&!vehiculoForm.get('modelo')?.errors?.['minlength']" class="valid-feedback">
              Looks good!
            </div>
            <div
              *ngIf="vehiculoForm.get('modelo')?.errors?.['required']"
              class="form-text text-danger invalid-feedback"
            >
              Debe llenar el campo
            </div>
            <div
              *ngIf="vehiculoForm.get('modelo')?.errors?.['minlength']"
              class="form-text text-danger invalid-feedback"
            >
              Debe ser al menos 5 caracteres
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              [ngClass]="[vehiculoForm.get('marca')?.errors?.['required'] ||
              vehiculoForm.get('marca')?.errors?.['minlength']
              ? 'is-invalid' : 'is-valid' ]"
              placeholder="Marca"
              formControlName="marca"
            />
            <label for="floatingInput" class="form-label">Marca</label>
            <div *ngIf="!vehiculoForm.get('marca')?.errors?.['required']&&!vehiculoForm.get('marca')?.errors?.['minlength']" class="valid-feedback">
              Looks good!
            </div>
            <div
              *ngIf="vehiculoForm.get('marca')?.errors?.['required']"
              class="form-text text-danger invalid-feedback"
            >
              Debe llenar el campo
            </div>
            <div
              *ngIf="vehiculoForm.get('marca')?.errors?.['minlength']"
              class="form-text text-danger invalid-feedback"
            >
              Debe ser al menos 5 caracteres
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class=" mb-3">
                <label class="input-group-text" for="inputGroupFile02"><i class="bi bi-download"></i>Upload Image</label>
                <input
                  type="file"
                  class="form-control "
                  id="inputGroupFile02"
                  formControlName="image"

                  accept="image/*"
                  (change)="subiendo($event)"
                />

                <div
                  *ngIf="!this.image"
                  class="form-text text-danger"
                >
                  Debe llenar el campo
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12" *ngIf="image!=null">
              <img src="{{image}}" alt="" class="img-fluid w-50 h-auto rounded d-block mx-auto">
            </div>
          </div>

          <button (click)="onSubmit()" class="btn btn-outline-info" [disabled]="!vehiculoForm.valid"  ><i class="bi bi-save2"> </i>{{Vehiculo?"Editar":"guardar"}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
