<!-- <a class="btn btn-info" routerLink="/auth/login" routerLinkActive="active" >
  Login
</a>
<a class="btn btn-primary" routerLink="/auth/register" routerLinkActive="active" >
  Register
</a> -->

<div class="container">
<app-nav-home></app-nav-home>

  <div style="margin-top: 5em">
    <div class="row ">
      <div class="col-12 col-md-4">
        <img
          src="https://w0.peakpx.com/wallpaper/622/785/HD-wallpaper-carro-deportivo-auto-calavera-carrera.jpg"
          alt=""
          class="img-fluid rounded img-personality w-100"
          style="height: 100vh"
        />
      </div>
      <div class="col-12 col-md-4">
        <img
          src="https://w0.peakpx.com/wallpaper/381/618/HD-wallpaper-twin-turbo-r8-audi-black-car-supercar-sports-america.jpg"
          alt=""
          class="img-fluid w-100"
          style="height: 100vh"
        />
      </div>
      <div class="col-12 col-md-4">
        <img
          src="https://w0.peakpx.com/wallpaper/1020/167/HD-wallpaper-twin-turbo-r8-audi-r8-white-car-supercar-sports-america-new-night.jpg"
          alt=""
          class="img-fluid w-100"
          style="height: 100vh"
        />
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-4">
        <img
          src="https://cdn.wallpapersafari.com/12/17/D8fc61.jpg"
          alt=""
          class="img-fluid"
          style="height: 100vh"
        />
      </div>
      <div class="col-12 col-md-4">
        <img
          src="https://i.pinimg.com/originals/73/3d/b1/733db174de46c10543f1bcb75bdf4369.jpg"
          alt=""
          class="img-fluid w-100"
          style="height: 100vh"
        />
      </div>
      <div class="col-12 col-md-4">
        <img
          src="https://i.pinimg.com/736x/f8/0e/8e/f80e8e1ac66d76eac7934517321f80a0.jpg"
          alt=""
          class="img-fluid w-100"
          style="height: 100vh"
        />
      </div>
    </div>
  </div>
</div>
