<div class="mb-3">
  <div class="form-floating w-50 mx-auto my-5">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="on"
      id="floatingInput"
      placeholder="Buscar por modelo o marca"
    />
    <label for="floatingInput"
      ><i class="bi bi-truck-front-fill"></i> Modelo o marca</label
    >
  </div>

  <div class="row">
    <div
      class="col-6 col-md-3 mx-auto mb-3"
      *ngFor="let auto of Autos | filter : searchText"
    >
      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title">
            <i class="bi bi-ev-front"></i>Modelo:
            <span class="text-primary">{{ auto.modelo_vehiculo }}</span>
          </h5>
        </div>
        <div class="card-body">
          <img src="{{ auto.url_vehiculo }}" alt="" class="img-fluid w-100" style="height: 12em;object-fit: cover;"   />
          <p class="card-text mt-2">
            <i class="bi bi-ev-front-fill"></i>Marca:
            <span class="text-info">{{ auto.marca_vehiculo }}</span>
          </p>
        </div>
        <div
          class="card-footer d-flex justify-content-evenly align-items-center"
        >
          <button
            class="btn btn-sm btn-outline-info"
            [routerLink]="['/dashboard/vehiculos/edit/',auto.vehiculo_id]"
          >
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onDelete(auto.vehiculo_id)"
          >
            <i class="bi bi-archive-fill"></i> Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
